# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

PharmacyInterventions/PI.Business.Tests/bin/
PharmacyInterventions/PI.Business.Tests/obj/
PharmacyInterventions/PI.Business/bin/
PharmacyInterventions/PI.Business/obj/
PharmacyInterventions/PI.Data/bin/
PharmacyInterventions/PI.Data/obj/
PharmacyInterventions/PI.Models/bin/
PharmacyInterventions/PI.Models/obj/
PharmacyInterventions/PI.Web/bin/
PharmacyInterventions/PI.Web/obj/