@model PI.Web.Models.KpiIndexViewModel

@{
    ViewBag.Title = "KPIs";
}

<div class="button-container">
    <a class="create-dialog-trigger" href="dialog">Create a new kpi</a>
</div>

<div id="kpi-edit-dialog" class="dialog-contents"></div>

<br/><br/>

<table id="myDataTable" class="display">
    <thead>
        <tr>
            <th>Date</th>
            <th>Details</th>
            <th>Pharmacist</th>
            <th>Ward</th>
        </tr>
    </thead>
    <tbody> 
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            $('#myDataTable').dataTable({
                "jQueryUI": true,
                "serverSide": true,
                "ajax": "@Url.Action("KpiRecords")",
                "processing": true,
                "pagingType": "full_numbers",
                "order": [[0, "desc"]],
                "columns": [
                    {
                        "name": "Date", "render": function (data, type, full, meta) {
                            var dateLink = '<span class="editable-kpi clickable" onclick="editItem(' + full.Id + ')" >' + full.Date + '</span>';
                            return dateLink;
                        }
                    },
                    {
                        "name": "Details",
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            var details = full.MedicationChartsReviewed > 0 ? '<div class="details-field"><span class="details-field-label">Medication Charts Reviewed:</span><span class="details-field-value">' + full.MedicationChartsReviewed + '</span></div>' : '';
                            details += full.MedicinesReconciliationsMedical > 0 ? '<div class="details-field"><span class="details-field-label">Medicines Reconciliations Medical:</span><span class="details-field-value">' + full.MedicinesReconciliationsMedical + '</span></div>' : '';
                            details += full.MedicinesReconciliationsSurgical > 0 ? '<div class="details-field"><span class="details-field-label">Medicines Reconciliations Surgical:</span><span class="details-field-value">' + full.MedicinesReconciliationsSurgical + '</span></div>' : '';
                            details += full.MedicinesReconciliationsOther > 0 ? '<div class="details-field"><span class="details-field-label">Medicines Reconciliations Other:</span><span class="details-field-value">' + full.MedicinesReconciliationsOther + '</span></div>' : '';
                            details += full.YellowCardsCompleted > 0 ? '<div class="details-field"><span class="details-field-label">Yellow Cards Completed:</span><span class="details-field-value">' + full.YellowCardsCompleted + '</span></div>' : '';
                            details += full.YellowCardsCompletedAndCounselled > 0 ? '<div class="details-field"><span class="details-field-label">Yellow Cards Completed And Counselled:</span><span class="details-field-value">' + full.YellowCardsCompletedAndCounselled + '</span></div>' : '';
                            details += full.WarfarinCounselling > 0 ? '<div class="details-field"><span class="details-field-label">Warfarin Counselling:</span><span class="details-field-value">' + full.WarfarinCounselling + '</span></div>' : '';
                            details += full.SelfMedication > 0 ? '<div class="details-field"><span class="details-field-label">Self Medication:</span><span class="details-field-value">' + full.SelfMedication + '</span></div>' : '';
                            details += full.DischargeOrderReview > 0 ? '<div class="details-field"><span class="details-field-label">Discharge Order Review:</span><span class="details-field-value">' + full.DischargeOrderReview + '</span></div>' : '';
                            details += full.CommunityLiaison > 0 ? '<div class="details-field"><span class="details-field-label">Community Liaison:</span><span class="details-field-value">' + full.CommunityLiaison + '</span></div>' : '';
                            details += full.MedicineEducationTalks > 0 ? '<div class="details-field"><span class="details-field-label">Medicine Education Talks:</span><span class="details-field-value">' + full.MedicineEducationTalks + '</span></div>' : '';
                            if (!details) {
                                details = 'No details';
                            }
                            return '<div class="table-details long-field-labels">' + details + '</div>';
                        }
                    },
                    { "name": "Pharmacist", "data": "PharmacistName" },
                    { "name": "Ward", "data": "WardName" }
                ]
            });
        });

    </script>

    <script type="text/javascript">

        function editItem(id) {
            $('#kpi-edit-dialog').load("@Url.Action("Edit")?id=" + id, function() {
                $(this).dialog('open');
            });
            return false;
        }


        $(document).ready(function() {
            
            // hook up trigger to open the create intervention dialog - uses edit but passes no id
            $('.create-dialog-trigger').on('click', function(event) {
                $('#kpi-edit-dialog').load("@Url.Action("Edit")", function() {
                    $(this).dialog('open');
                });
                return false;
            });

            // create our edit/create dialog, but do not open it yet
            $('#kpi-edit-dialog').dialog({
                autoOpen: false,
                modal: true,
                width: 730,
                title: "KPIs"
            });


        });

    </script>
}
