@{
    ViewBag.Title = "About";
}



<div class="text-page">
    
    <h1>About</h1>

    This system has been created to aid in the capture of Pharmacy interventions and contributions.  It has been adapted from the EPIFANY system created by Rob Ticehurst.<br/><br/>
    Things that a missing from the system (an incomplete list):<br/>
    <ul>
        <li>a layout page for these text pages</li>
        <li>error handling on ajax calls</li>
        <li>general error handling - elmah!</li>
        <li>kpis</li>
        <li>reports - SSIS?</li>
        <li>the data tables could use some styling</li>
        <li>records in data tables - show more data and remove id column</li>
        <li>um dependancy injection</li>
        <li>well, you know, some sort of security ...</li>
    </ul>
</div>