<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/content/Main.css")"/>
        <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.js"></script>
    </head>
    <body class="home-page">
        
        <div id="body">
            @RenderBody()
        </div>
    </body>
</html>
