<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.ui.datepicker-en-NZ.js"></script>
    
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")"/>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
